 <div class= "filmcreator">
 <p>You're on a desert island,</p>
 <p>which film do you bring?</p>
 <%= form_for 'search', url: films_path do |f| %>
 <%= f.text_field :search, autocomplete: "off" %>
 <% end %>
 </div>