<center>
<body>
 <center>
 <div class='recommendations'>
  <%= image_tag @recommendation %>
 </div>
</center>
 <% unless session[:first_added] %>
  <%= render 'create'%>
 <% end %>
 <div class='shelf'>
  <% @films.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
 </div>
</body>
</center>