<center>
<body>
 <h1>spectre</h1>
 <br>
 <% unless session[:added_film] %>
  <%= render 'form'%>
 <% end %>
<div class='recommendations'>
  <%= image_tag @recommendation %>
</div>
<br>
<div class='shelf'>
  <% @films.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
</div>
</body>
</center>