<center>
<body>
<div class='recommendations'>
  <%= image_tag @recommendation %>
</div>
<br>
 <% unless session[:first_added] %>
  <%= render 'starter'%>
 <% end %>
 <div class='shelf'>
  <% @films.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
 </div>
</body>
</center>