<center>
<body>
 <br>
 <div class='suggestion'>

  <%= image_tag @poster %>

 </div>
  <% unless @films.any? %>
  <%= render 'create'%>
  <% end %>
 <div class='shelf'>
  <% @films.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
 </div>
</body>
</center>