<center>
<body>
 <h1>spectre</h1>
 <br>
 <% if session[:added_film] %>
  <%= render 'recommendation'%>
 <% end %>
 <% unless session[:added_film] %>
  <%= render 'form'%>
 <% end %>
  <% @films.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
</body>
</center>