html {
 position: fixed;
 top: -10px;
 left: -10px;
 right: -10px;
 font-family: 'brandon-grotesque',Arial,sans-serif;
}

body {
  background-color: #000;
}

.button {
  background: #fff;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

nav {
  padding: 10px;
  background: #fff;
  outline-style: solid;
  outline-width: thick;
  outline-color: #C0C0C0;

  a {
    @extend .button;
  }
}

.suggestion {
}

.suggestion
 img {
  width: 216px;
  height: 319px;
  outline-style: solid;
  outline-color: #C0C0C0;
}

.shelf {
  background: #7D26CD;
  outline-style: solid;
  outline-width: thick;
  outline-color: #C0C0C0;
  padding: 7px;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

.shelf 
 img {
  width: 76px;
  height: 113px;
  outline-style: solid;
  outline-color: #C0C0C0;
}

input {
  outline: none;
  background-color: #fff;
  border: solid;
}