<!DOCTYPE html>
<html>
<head>
  <title>Spectre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
 $(document).ready(function(){
  $('#adder').keypress(function (e) {
   if (e.which == 13) {
    $('form').css('visibility', 'hidden');
   }
  }
 };
</script>
</body>
</html>